# git ignore file

MusicNotes/MusicNotes/obj/*
MusicNotes/MusicNotes/bin/*
MusicNotes/*.suo

MusicNotes/MusicNotes.UnitTests/obj/*
MusicNotes/MusicNotes.UnitTests/bin/*

MusicNotes/TestResults
*.ncrunch*

MusicNotes/_NCrunch_MusicNotes/MusicNotes.crunchsolution.cache
